
*


!src
!package.json
!package-lock.json
!tsconfig.json
!prisma
!dist
!node_modules
!.env


Dockerfile
.dockerignore
.git
.gitignore
node_modules/**/tests
**/*.log
**/__tests__
**/coverage
**/.env.local
**/.env.*.local